*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.navbar{
     height:80px;
     background-color: rgb(255, 255, 255);
     border-bottom: 1px solid black;
}
.barra-nav{
     width: 80%;
}
.img-nav{
     padding-left:10px ;
     width: 10%;
}
.icnon-nav{
     width: 10%;
}
.img-nav img{
     width: 100%;
}
.input-group-text ,.form-control{
     background-color: rgba(211, 211, 211, 0.561);
}
.dropdown-toggle::after{
     display: none;
}



.main-content{
     height:calc(100vh - 80px) ;
     width: calc(100% - 160px);
    overflow-y: auto;
}


.sidebar{
     height: calc(100vh - 80px);
     width: 160px;
     background-color: rgb(0, 0, 54);
     background-image: url(../img/sidebar-bg.png);
     background-size: cover;
     display: inlin;
}

ul{
     list-style: none;
     padding: 0px;
    
}
     .tasto-piu{
          border: 1px solid white;
          border-radius: 10px;
          margin: 10px;
     }

   .tasti-bin-pen .btn{
     border: 1px solid rgb(101, 101, 101);
     border-radius: 10px;
     padding: 7px;
   }

     

@media screen and (max-width:991px){
     .sidebar{
     width: 60px;
     }
     .main-content{
          
          width: calc(100% - 60px);
          
     }
}